# Ignore package lock files
package-lock.json
yarn.lock

# Ignore node modules

node_modules/

# Ignore config

config.json

# Ignore files from converting to ts

src/index.js
src/Structures/*.js
src/Schemas/*.js
src/Paths/*.js
scripts/*.js
