# Ignore package lock files
package-lock.json
yarn.lock

# Ignore node modules

node_modules/

# Ignore files from converting to ts

src/index.js
src/Structures/*.js
src/Schemas/*.js
src/Paths/*.js
src/Paths/**/*.js
src/Structures/**/*.js
src/Structures/Database/*.js
src/Structures/Utilities/*.js
scripts/*.js
Files/*

# Ignore yarn error

yarn-error.log

# Ignore images

src/images/*
