{
  "exclude": "node_modules/**",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "topLevelAwait": true,
      "dynamicImport": true
    },
    "paths": {
      "*/package.json": ["../*/package.json"]
    },
    "experimental": {
      "emitAssertForImportAttributes": true,
      "keepImportAttributes": true
    },
    "target": "esnext",
    "baseUrl": "."
  },
  "module": {
    "type": "nodenext",
    "resolveFully": true
  },
  "sourceMaps": true
}
