html, body {
    background-color: #2D2C2C;
    color: white;
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 600px) {

}

.notification {
    text-align: left;
    padding: 1%;
    max-width: inherit;
}

a:link {
    color: rgb(156, 194, 255);
}

a:link.colored {
    color: #15959D;
}

a:visited {
    color: rgb(133, 180, 255);
}

button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #15959D;
    background: #393939;
    border: 0;
    border-radius: 8px;
    width: 203.08px;
    height: 51.66px;
    font-size: 18px;
}

button:hover {
    color: #393939;
    background-color: #15959D;
}

a:hover {
    color: rgb(219, 233, 255);
}

button.smallBtn {
    width: 100.08px;
    height: 40.66px;
}

input {
    background-color: inherit;
    color: #15959D;
    border-color: #5b5b58;
    border-width: thin;
    font-size: 16px;
}

input.reset {
    width: 100.08px;
    height: 40.66px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #15959D;
    background: #393939;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
}

input.reset:hover {
    color: #393939;
    background-color: #15959D;
}

.links {
    text-align: center;
}

.links-list {
    list-style-type: none;
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.errbox {
    padding: 5px;
    background-color: #f44336;
    color: white;
    width: 50%;
    margin: 0 auto 15px;
    display: none;
    font-size: 18px;
}

.successbox {
    padding: 5px;
    background-color: #15959D;
    color: #ffffff;
    width: 65%;
    margin: 0 auto 15px;
    display: none;
    font-size: 18px;
}

.warningbox {
    background-color: #EC7E00;
    color: black;
    margin: 0 auto 15px;
    width: 65%;
    font-size: 18px;
}

.closebtn, .closebtn2 {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 1s;
}

.hideBtn {
    display: none;
}

#shorts, #img {
    display: none;
    background-color: inherit;
    color: white;
    border: 0;
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
}

.closebtn:hover {
    color: black;
}

.closebtn2:hover {
    color: white;
}

.hidden {
    display: none;
}

.token {
    background-color: #15959D;
    color: white;
    width: 65%;
    margin: 0 auto 15px;
    display: none;
}

.verifys, .users {
    justify-content: center;
}

.verify, .user {
    justify-content: center;
    text-align: center;
}

body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: hidden;
}

.logo {
    margin-top: 15px;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #15959D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
    .notification, .notificationsDiv { max-width: 600px }
}
