html, body {
    background-color: rgb(66, 66, 66);
    color: white;
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media (min-width: 600px) {

}

.notification {
    text-align: left;
    padding: 1%;
    max-width: inherit;
}

a:link {
    color: rgb(156, 194, 255);
}

a:visited {
    color: rgb(133, 180, 255);
}

a:hover {
    color: rgb(219, 233, 255);
}

.links {
    text-align: center;
}

.links-list {
    list-style-type: none;
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.errbox {
    padding: 5px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    display: none;
}

.successbox {
    padding: 5px;
    background-color: #42f57e;
    color: black;
    margin-bottom: 15px;
    display: none;
}

.closebtn2 {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.hideBtn {
    display: none;
}

#shorts, #img {
    display: none;
    background-color: inherit;
    color: white;
    border: 0;
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
}

.closebtn:hover {
    color: black;
}

.closebtn2:hover {
    color: white;
}

.hidden {
    display: none;
}

.token {
    background-color: #42f57e;
    color: black;
    display: none;
}

body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
